* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

nav ul {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav li {
  max-width: 20%;
}

.nav_item {
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-bottom: 6px;
  position: relative;
}

.nav_item:hover {
  transition: 0.5s;
}

.nav_item::before {
  content: "";
  position: absolute;
  width:100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav_item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.primary_button {
  color: white;
  text-decoration: none;
  background-color: #43B12E;
  padding: 20px;
  margin-right: 20px;
}

.primary_button:hover {
  background-color: #4FD369;
  transition: 0.5s;
}

.primary_logo_white {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.header {
  background-image: url(./images/Landing-Image.jpg);
  background-position: center right;
  height: 100vh;
  width: 100%;
}

.landing {
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  width: 100%;
}

.landing h1 {
  margin-top: 10%;
  font-size: 3rem;
  color: #FFF;
  margin-bottom: 20px;
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing p {
  margin-left: 15px;
  animation: fadeIn 3.7s;
}

.mountain_features {
  width: 100%;
  height: auto;
  margin-top: 105px;
  margin-left: 20px;
  margin-right: 20px;
}
