.map_container {
    position: relative;
}

img {
    width: 100%;
    height: 100vh;
}

.tile {
    display: inline-block;
    position: absolute;
    padding: 5px;
    border: 1px solid #000;
    background-color: white;
    z-index: 10;
}

.logoContainer {
    position: relative;
    display: inline-block;
}
.hoverContent {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
    display: none;
}
  
.logoContainer:hover .hoverContent {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.edit_button {
    background-color: grey;
}

.delete_button {
    background-color: red;
}
