/*Styles for div with map inside*/
.map_container {
    position: relative;
}

img {
    width: 100%;
    /*height: 100vh;*/
}

.tile {
    display: inline-block;
    position: absolute;
    padding: 5px;
    border: 1px solid #000;
    background-color: white;
    z-index: 10;
}

.logoContainer {
    position: relative;
    display: inline-block;
    background-color: #43B12E;
    padding: 5px;
    border-radius: 5px;
    min-width: 30px;
    text-align: center;
}

.logo {
    color: white;
    font-size: 25px;
}

/*Styling for content when widget is hovered*/
.hoverContent {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
    display: none;
}
  
.logoContainer:hover .hoverContent {
    display: block;
}

/*Styling for edit widget modal window*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

/*Styling for div surrounding the inner modal content*/
.modal_content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/*Styling for the confirm edit button*/
.edit_button {
    background-color: #43B12E;
    color: white;
    padding: 11px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.edit_button:hover {
    background-color: #2E8F1F;
}

/*Styling for the delete widget button*/
.delete_button {
    border: 1px solid grey;
    color: grey;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.delete_button:hover {
    border-color: red;
    color: red;
}
