/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
}

.change_logo {
    padding-right: 20px;
}

.content_container {
    display: flex;
    justify-content: space-between; /* Align items to the start and end */
}

.input_container {
    margin-bottom: 20px;
    width: 100%;
}

.content_container label {
    margin-bottom: 20px;
}

input {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid black;
}

textarea {
    resize: none;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid black;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.button_container p {
    border-radius: 5px;
    color: white;
}

.place_button {
    background-color: #43B12E;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.place_button:hover {
    background-color: #2E8A1E;
    cursor: grab;
}

/* Logo Grid */
.logo_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 20px;
}

.input_container{
    text-align: center;
}

.logo_icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    filter: grayscale(0%); /* Initially all logos are black */
    opacity: 1;
}
  
.logo_icon:hover {
    transform: scale(1.1);
}

.selected_logo {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    transform: scale(1.1);
}
  
.logo_grid:not(.selected_logo) .logo_icon {
    filter: grayscale(100%); /* Apply grayscale to unselected logos */
    opacity: 0.6;
}
